@import "../../partials/themeController";

.menu {
  background: $mediumColor;
  height: 46px;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr) 2fr;
  margin-bottom: 10px;


  h2 {
    color: $lighterColor;
  }
}

.logo-font {
  font-family: $logoFont;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin: 5px;
}

.logout {
  grid-column: 6/7;
}

.noti-icon {
  color: $lighterColor;
  grid-column: 5/6;
  justify-self: center;
  align-self: center;
}

.group-icon {
  @extend .noti-icon;
  grid-column: 4/5;
}
