@import 'https://fonts.googleapis.com/css?family=Permanent+Marker|Tienne';
.day {
  background: url("../../assets/images/mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh; }

.title-container {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.event-container {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.new-event-actions {
  display: grid;
  grid-template-columns: 2;
  grid-column-gap: 8px; }

.new-event-ok {
  grid-column: 1/2; }

.new-event-cancel {
  grid-column: 2/3; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
