@import './colors';
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker|Tienne';

$lighterColor: #ffffff;
$lightColor: $dodgerBlue;
$mediumColor: $spanishViridian;
$darkColor: $jet;
$darkerColor: $richBlack;
$logoFont: 'Permanent Marker', cursive;
$mainFont: 'Tienne', serif;
