@import './colors';
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker|Tienne';

$lighterColor: #ffffff;
$lightColor: $light;
$mediumColor: $medium;
$lightDarkColor: $lightDark;
$darkerColor: $dark;
$darkColor: $jet;
$logoFont: 'Permanent Marker', cursive;
$mainFont: 'Tienne', serif;
$brightColor: $bright;
$darkColor: $jet;
