@import 'https://fonts.googleapis.com/css?family=Permanent+Marker|Tienne';
#Dashboard {
  background: url("../../assets/images/mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh; }

.dash-header {
  color: white;
  text-align: left;
  margin-left: 5px;
  margin-bottom: 10px; }

.new-day-actions {
  display: grid;
  grid-template-columns: 2;
  grid-column-gap: 8px; }

.new-day-ok {
  grid-column: 1/2; }

.new-day-cancel {
  grid-column: 2/3;
  color: #ffbb62; }

.trip-display {
  margin: 10px 10vw 0 10vw;
  background-color: #e9c46a;
  padding: 5px 0 5px 0;
  border-radius: 2px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.trip {
  margin: 20px; }

.recently-viewed-trip {
  margin: 0 5px 10px 5px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
