@import 'https://fonts.googleapis.com/css?family=Permanent+Marker|Tienne';
.Listing {
  text-align: center; }

.content-container {
  min-height: 100%;
  width: 95%;
  background-color: #00825D;
  margin: 20px auto 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.listings-container {
  display: flex;
  align-content: center;
  justify-content: space-around;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.details-button {
  margin-top: 10px;
  padding-right: 5px;
  color: #00825D;
  text-decoration: none;
  transition: color 1s; }

.details-button:hover {
  color: #8FD8AB; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
