@import "../../partials/themeController";

.trip-view {
  // background-image: url('../../assets/images/beach-vacation-mobile.jpg');
    background: url('../../assets/images/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-color: rgb(0, 119, 255);
    width:100vw;
    min-height: 100vh;
}

.trip-view-header {
  margin-bottom: 20px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay:0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.new-day-actions {
  display: grid;
  grid-template-columns: 2;
  grid-column-gap: 8px;
}

.new-day-ok {
  grid-column: 1/2;
}

.new-day-cancel {
  grid-column: 2/3;
}

.day-display {
  margin: 10px 10vw 0 10vw;
  background-color: $mediumColor;
  padding: 5px 0 5px 0;
  border-radius: 2px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay:0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.day-box {
  margin: 20px;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

/*

:
constructor
:
ƒ Date()
getDate
:
ƒ getDate()
getDay
:
ƒ getDay()
getFullYear
:
ƒ getFullYear()
getHours
:
ƒ getHours()
getMilliseconds
:
ƒ getMilliseconds()
getMinutes
:
ƒ getMinutes()
getMonth
:
ƒ getMonth()
getSeconds
:
ƒ getSeconds()
getTime
:
ƒ getTime()
getTimezoneOffset
:
ƒ getTimezoneOffset()
getUTCDate
:
ƒ getUTCDate()
getUTCDay
:
ƒ getUTCDay()
getUTCFullYear
:
ƒ getUTCFullYear()
getUTCHours
:
ƒ getUTCHours()
getUTCMilliseconds
:
ƒ getUTCMilliseconds()
getUTCMinutes
:
ƒ getUTCMinutes()
getUTCMonth
:
ƒ getUTCMonth()
getUTCSeconds
:
ƒ getUTCSeconds()
getYear
:
ƒ getYear()
setDate
:
ƒ setDate()
setFullYear
:
ƒ setFullYear()
setHours
:
ƒ setHours()
setMilliseconds
:
ƒ setMilliseconds()
setMinutes
:
ƒ setMinutes()
setMonth
:
ƒ setMonth()
setSeconds
:
ƒ setSeconds()
setTime
:
ƒ setTime()
setUTCDate
:
ƒ setUTCDate()
setUTCFullYear
:
ƒ setUTCFullYear()
setUTCHours
:
ƒ setUTCHours()
setUTCMilliseconds
:
ƒ setUTCMilliseconds()
setUTCMinutes
:
ƒ setUTCMinutes()
setUTCMonth
:
ƒ setUTCMonth()
setUTCSeconds
:
ƒ setUTCSeconds()
setYear
:
ƒ setYear()
toDateString
:
ƒ toDateString()
toGMTString
:
ƒ toUTCString()
toISOString
:
ƒ toISOString()
toJSON
:
ƒ toJSON()
toLocaleDateString
:
ƒ toLocaleDateString()
toLocaleString
:
ƒ toLocaleString()
toLocaleTimeString
:
ƒ toLocaleTimeString()
toString
:
ƒ toString()
toTimeString
:
ƒ toTimeString()
toUTCString
:
ƒ toUTCString()
valueOf
:
ƒ valueOf()
Symbol(Symbol.toPrimitive)
:
ƒ [Symbol.toPrimitive]()

*/
